{% extends "authentication/base.html" %}
{% load i18n static %}

{% block width %}30{% endblock %}
{% block title %}{% trans "Account Login" %}{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{form_obj.username}}
            <label style="color:red">{{ form_obj.username.errors.0 }}</label>
        </div>

        <div class="form-group">
            {{form_obj.password}}
            <label style="color:red">{{ form_obj.password.errors.0 }}</label>
        </div>

        {% if form_obj.errors %}
        <div class="alert alert-danger" role="alert">
            {% trans "Your username and password didn't match. Please try again." %}
        </div>
        {% endif %}

        <button class="btn-success btn-lg btn-block" type="submit">
            {% trans "Log in" %}
        </button>
    </form>
    <br/>
    <form action="{% url 'signup' %}">
        <button class="btn btn-primary btn-lg btn-block" type="submit">
            {% trans "Sign up" %}
        </button>
    </form>
{% endblock %}

{% block footer %}
    <div class="text-center">
    <span>
        {% trans "Forgot" %}
    </span>

        <a href="{% url 'password_reset' %}" style="color:#4272d7">
            {% trans "Password" %}?
        </a>
    </div>
{% endblock %}
