{% extends "authentication/base.html" %}
{% load i18n static %}

{% block width %}30{% endblock %}
{% block title %}{% trans "Forget Password" %}{% endblock %}

{% block content %}
    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <br/>

        <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-group">
                 <label>{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                <label style="color:red">{{ form.new_password1.errors.0 }}</label>
            </div>
            <div class="form-group">
                <label>{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                <label style="color:red">{{ form.new_password2.errors.0 }}</label>
            </div>
            <input type="submit" class="btn btn-block btn-primary" value="{% trans 'Change my password' %}">
        </fieldset>
        </form>

    {% else %}
    <p>
    {% endif %}

{% endblock %}