{% extends "authentication/base.html" %}
{% load i18n %}

{% block content %}
<p name="sent_confirm">{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
<p name="check_request">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
{% endblock %}

{% block footer %}
<p><a href="/" class="btn btn-success btn-block">{% trans 'Log in' %}</a></p>
{% endblock %}