{% extends "authentication/base.html" %}
{% load i18n %}

{% block width %}30{% endblock %}
{% block title %}{% trans "Forget Password" %}{% endblock %}

{% block content %}
    <form action="{% url 'password_reset' %}" method="POST" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.email }}&nbsp;
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">{{ form.email.errors.0 }}</div>
            {% endif %}
        </div>
        <div>
            <button type="submit" name="submit" class="btn btn-block btn-primary">{% trans "Send Email" %}</button>
        </div>
    </form>
{% endblock %}