{% extends "authentication/base.html" %}
{% load i18n %}

{% block width %}30{% endblock %}
{% block title %}{% trans "Forget Password" %}{% endblock %}

{% block content %}
    <form action="{% url 'password_reset' %}" method="POST" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email }}
            <label style="color:red">{{ form.email.errors.0 }}</label>
        </div>
        <div>
            <input type="submit" class="btn btn-block btn-primary" value="Send Email">
        </div>
    </form>
{% endblock %}