<script src="https://unpkg.com/vue"></script>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css"/>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>

{% include "partial/header.html" with user_name=user %}

<div class="row flex-xl-nowrap">
    <div class="col-md-3 col-xl-2">
        {% include "partial/sidebar.html" %}
    </div>

    <div class="col-9">
        <div id="title">
            </br>
            <h3>
                {{ title }}
            </h3>
            <hr/>
        </div>

        <div>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" width="50%"></th>
                        <th scope="col" width="50%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th >Name</th>
                        <td>{{user.username}}</td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td>{{user.certificate}}</td>
                    </tr>
                    <tr>
                        <th>Sepcialization</th>
                        <td>{{user.group.main_group.name}}</td>
                    </tr>
                    <tr>
                        <th>Group</th>
                        <td>{{user.group.name}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{user.email}}</td>
                    </tr>
                    <tr>
                        <th>Current Point</th>
                        <td>{{user.point}}</td>
                    </tr>
                    <tr>
                        <th>Overall Accuracy</td>
                        <td>{{user.accuracy}}%</td>
                    </tr>
                </tbody>
            </table>
            <span class="d-flex justify-content-center">
                <button href="{% url 'password_reset' %}" class="btn btn-outline-primary" >
                    Reset Password
                </button>
            </span>
        </div>
    </div>
</div>