{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css"/>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>

{% include "partial/header.html" with user_name=login_user %}

<div class="row flex-xl-nowrap">
    <div class="col-md-3 col-xl-2">
        {% include "partial/sidebar.html" %}
    </div>

    <div class="col-9">
        <div id="title">
            </br>
            <h3>
                {{ title }}
            </h3>
            <hr/>
        </div>
        <div>
            <h5><a href="#validating" class="link-dark">Validating</a></h5>
            {% include 'partial/validating_tasks.html' with questions=question_list_validating %}
        </div>
        <div>
            <h5><a href="#voting" class="link-dark">Voting</a></h5>
            {% include 'partial/voting_tasks.html' with questions=question_list_voting %}
        </div>
    </div>
</div>