{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css"/>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>


<table type="table" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col" width="20%">Username</th>
            <th scope="col" width="20%">Certificate</th>
            <th scope="col" width="20%">Email</th>
            {% if login_user.is_superuser %}
                <th scope="col" width="10%">Group</th>
            {% endif %}
            <th scope="col" width="20%"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <form action="{% url 'modify_users' %}" method="post">
                <input type="hidden" name="id" value="{{user.id}}">
                {% csrf_token %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.certificate}}</td>
                    <td>{{user.email}}</td>
                    {% if login_user.is_superuser %}
                        <td>{{user.group.name}}</td>
                    {% endif %}
                    <td>
                        <button class="btn btn-success" name="approve" type="submit">Approve</button>
                        <button class="btn btn-danger" name="reject" type="submit">Reject</button>
                    </td>
                </tr>
            </form>
        {% endfor %}
    </tbody>
</table>
