<div id="taskList">
    <table type="table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="10%">ID</th>
                <th scope="col" width="30%">Question</th>
                <th scope="col" width="50%">Answer</th>
                <th scope="col" width="10%"> </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <form action="{% url 'update' question.taskdata_ptr_id %}" method="post">
            {% csrf_token %}
            <tr>
                <th scope="row">{{question.id}}</th>
                <input type="hidden" name="choice" id="choice" value="">
                <td>{{question.title}}</td>
                <td>
                    {% for ans in question.answers %}
                    <div class="custom-control custom-radio" value="{{question.taskdata_ptr_id}}">
                        <input type="radio" id="answer_{{ans.id}}" class="custom-control-input" name="ansRadio" value="{{ans.id}}">
                        <label class="custom-control-label" for="answer_{{ans.id}}">{{ans.answer}}</label>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    <button id="vote_{{question.id}}" value="" type="submit" class="vote btn btn-outline-primary btn-sm btn-block">
                        Update
                    </button>
                </td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'pages/partial/new_ans_modal.html' with modal_id="dialog"%}

<script>
    $(document).ready(function(){
        $(".custom-radio .custom-control-input").on("click", function(e) {
            var id = $(this).parent().attr('value');
            var ans_id = $(this).attr('value');
            $("#vote_" + id).val(ans_id);
            var idVal = $(this).attr("id");
            $(".custom-radio label").css('color','black');
            var label = $("label[for='"+idVal+"']");
            label.css('color','green');
        });
        $("#update_btn").on('click', function(e) {
            var id = $("#update_btn").attr('value');
            var ans = $("#new_ans").val();
            $("#selected_answer_" + id).text(ans);
            $("#choice").val(ans);
            var x = document.getElementById('dialog');
            x.setAttribute('style', "display: none");
        });
    });
</script>