{% load i18n static %}
{% load staticfiles %}
<script src="{% static 'jquery-3.4.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>

<style>
    .section-header {
        border-color: grey;
        border-style: solid;
        border-width: 1px;
    }
</style>

<aside id="basicSidebar" role="navigation">
    <ul class="navbar-nav">
        {% if request.user.is_admin %}
            <li class="nav-item">
                <a class="nav-link" id="/modify_users" href="/modify_users">{% trans "User List" %}</a>
            </li>
        {% endif %}

        {% if request.user.is_superuser %}
            <li class="nav-item" id="account-toggle">
                <a class="nav-link dropdown-toggle section-header">{% trans "Accounts" %}</a>
                <ul class="navbar-nav p-2" id="accounts">
                    <li class="nav-item">
                        <a class="nav-link" id="/modify_users" href="/modify_users">{% trans "User List" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="/group" href="/group">{% trans "Groups" %}</a>
                    </li>
                </ul>
            </li>
        {% endif %}

        <li class="nav-item" id="data-toggle">
            <a class="nav-link dropdown-toggle section-header">{% trans "Data" %}</a>
            <ul class="navbar-nav p-2" id="data">
                <li class="nav-item">
                    <a class="nav-link" id="/dataset" href="/dataset">{% trans "Dataset" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="/update" href="/update">{% trans "Assign Controversial Data" %}</a>
                </li>
            </ul>
        </li>

        <li class="nav-item section-header">
            <a class="nav-link" id="/report" href="/report">{% trans "Working Report" %}</a>
        </li>

        <li class="nav-item section-header">
            <a class="nav-link" id="/log" href="/log">{% trans "Admin Log" %}</a>
        </li>

        {% if not request.user.is_superuser %}
            <br/>
            <li class="nav-item">
                <button onclick="show_file_modal()" id="/import_dataset" type="button" data-toggle="modal"
                        data-target="#file_modal" class="btn btn-outline-primary btn-sm">
                    {% trans "Import Dataset" %}
                </button>
            </li>

            <br/>
            <li class="nav-item">
                <a class="btn btn-primary btn-sm" id="/assign_tasks" href="/assign_tasks">{% trans "Assign Tasks" %}</a>
            </li>

            <br/>
            <li class="nav-item">
                <a class="btn btn-primary btn-sm" id="/summarize" href="/summarize">{% trans "Summarize" %}</a>
            </li>
        {% endif %}
    </ul>
</aside>

{% include "pages/partial/file_drop.html" with modal_id="file_modal" btn_id="upload_btn" %}

<script type="text/javascript">
    $(document).ready(function () {
        var ele = document.getElementById("{{ request.path|remove_lang }}");
        ele.classList.add("active");

        function show_file_modal() {
            $("#file_modal").modal();
        }
    });
</script>