{% load staticfiles %}
<script src="{% static 'jquery-3.4.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link active index" id="/modify_users" href="/modify_users">User List</a>
    </li>

    {% if request.user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" id="/group" href="/group">Groups</a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" id="/dataset" href="/dataset">Dataset</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="/update" href="/update">Update Data</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="/report" href="/report">Working Report</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" id="/log" href="/log">Admin Log</a>
    </li>

    {% if not request.user.is_superuser %}
    <br/>
    <li class="nav-item">
        <button onclick="show_file_modal()" id="/import_dataset" type="button" data-toggle="modal" data-target="#file_modal" class="btn btn-outline-primary btn-sm">
            Import Dataset
        </button>
    </li>

    <br/>
    <li class="nav-item">
        <a class="btn btn-primary btn-sm" id="/assign_tasks" href="/assign_tasks">Assign Tasks</a>
    </li>

    <br/>
    <li class="nav-item">
        <a class="btn btn-primary btn-sm" id="/summarize" href="/summarize">Summarize</a>
    </li>
    {% endif %}
</ul>

{% include "pages/partial/file_drop.html" with modal_id="file_modal" btn_id="upload_btn" %}

<script type="text/javascript">
   function show_file_modal() {
       $("#file_modal").modal();
   }
</script>