{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
<link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css"/>
<script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>

<form action="{% url 'add_user' %}" method="post">
    {% csrf_token %}
    <div class="card m-auto" style="width:80%">
        <div class="card-body">
            <label>Name</label>
            <input class="form-control" type="text" name="username" id="username">

            <label>ID</label>
            <input class="form-control" type="text" name="certificate" id="certificate">

            <label>Sepcialization</label>
            <div class="dropdown">
                <input class="form-control" type="hidden" name="specialization" id="specialization">
                <a id="spec_text" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Please Select Specialization
                </a>
                <div id="dropdown_spec" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for spec in specializations %}
                        <button id="spec_{{spec.id}}" class="dropdown-item" type="button" value="{{spec.id}}">{{spec.name}}</button>
                    {% endfor %}
                </div>
            </div>


            <label>Group</label>
            <div class="dropdown">
                <input class="form-control" type="hidden" name="group" id="group">
                <a id="group_text" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Please Select Group
                </a>
                <div id="dropdown_group" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for group in groups %}
                        <button id="group_{{spec.id}}" class="dropdown-item" type="button" value="{{group.id}}">{{group.name}}</button>
                    {% endfor %}
                </div>
            </div>

            <label>Email</label>
            <input class="form-control" type="text" name="email" id="email">
        </div>
        <div class="card-footer">
            <input id="add_new_user" type="button" style="float:right" class="btn btn-outline-success" value="+ Add Another User">
        </div>
    </div>

    <br>
    <span class="d-flex justify-content-center">
        <button href="{% url 'add_user' %}" type="submit" class="btn btn-outline-primary" >
            Confirm
        </button>
    </span>
</form>

<script>
    $(document).ready(function(){
        $("#dropdown_spec .dropdown-item").on("click", function(e) {
            var selected = $(this).text();
            $("#spec_text").text(selected);
            $("#specialization").val($(this).val());
        });
        $("#dropdown_group .dropdown-item").on("click", function(e) {
            var selected = $(this).text();
            $("#group_text").text(selected);
            $("#group").val($(this).val());
        });
        $("#add_new_user").on("click", function(e) {

        });
    });
</script>