<nav class="navbar nav-light bg-light navbar-left flex-column min-vh-100">
    <div>
    <div>
        <a class="nav-item" href="/pages">Tasks</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
            <a class="nav-link" href="/pages/#validating">Validating</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/pages/#voting">Voting</a>
            </li>
        </ul>
    </div>
    <div>
        <a class="nav-item" href="/pages/profile">Profile</a>
    </div>
    </div>
</nav>
