{% if question_list %}
    <table type="table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                <th scope="col">
                    <div class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                    </div>
                </th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <th scope="row">{{question.id}}</th>
                <td>{{question.question_text}}</td>
                <td>{{question.answer_text}}</td>
                <td>?</td>
                <td>
                    <button type="button" class="btn btn-success btn-sm">
                        Approve
                    </button>
                    <button type="button" class="btn btn-primary btn-sm">
                        Change
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}