{% extends "pages/admin/base.html" %}
{% load i18n static %}

{% block content %}
    <form action="{% url 'assign_contro'%}" method="post" id="assign_form">{% csrf_token %}
        <input name="assign_tasker" id="assign_tasker" type="hidden">
        <input name="select_list" id="select_list" type="hidden">
        <a href="#" name="assign_multi" onclick="show_assign_modal()" class="btn btn-outline-primary float-right">{% trans "Assign" %}</a>
    </form>
    <button id="collapse_all" class="btn btn-outline-primary float-right">{% trans "Expand/Collapse All" %}</button>

    <div id="taskList">
        <input id="door" type="hidden" value="1">
        <form class="form-inline my-2 my-lg-0">
            <datalist id="data">
                {% for d in data %}
                    <option value="{{ d.title }}">
                {% endfor %}
            </datalist>
            <div class="input-group mb-3" style="width: 40vw">
                <input class="form-control border-primary" list="data" type="search" placeholder="{% trans 'Search' %}"
                       aria-label="Search" name="search">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                </div>
            </div>
        </form>
        <table type="table" class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="width: 5%"></th>
                <th scope="col" style="width: 20%">{% trans "ID" %}</th>
                <th scope="col" style="width: 60%">{% trans "Question" %}</th>
                <th scope="col" style="width: 15%"></th>
            </tr>
            </thead>
            <tbody>
            {% for question in page_obj %}
                <form action="{% url 'assign_contro' %}" method="post">{% csrf_token %}
                    <div class="custom-control custom-checkbox">
                        <tr>
                            <td>
                                <input type="checkbox" class="custom-control-input" name="checked_task" value="{{ question.id }}">
                            </td>
                            <th scope="row">{{ question.id }}</th>
                            <input type="hidden" name="choice" id="choice">
                            <td>
                                <a role="button" class="collapsed" data-toggle="collapse" href="#qa_{{ question.id }}"
                                   aria-expanded="false" aria-controls="qa_{{ question.id }}">
                                    {{ question.title }}
                                </a>
                            </td>
                            <td>
                                <a name="assign_single" href="#" onclick="show_assign_modal({{ question.id }})"
                                        class="vote btn btn-outline-primary btn-sm btn-block">
                                    {% trans "Assign" %}
                                </a>
                            </td>
                        </tr>
                    </div>
                </form>
            {% endfor %}
            </tbody>
        </table>

        {% include "pages/partial/page_footer.html" with page_obj=page_obj num_done=num_done %}
    </div>
    {% include 'pages/partial/assign_modal.html' with modal_id="assign_modal" btn_id="assign_btn" taskers=taskers %}
    <script>
        $(document).ready(function () {
            $("#collapse_all").on("click", function () {
                $('.module label.collapse').collapse('toggle');
                $('.collapse').collapse('toggle');
            });
            $('#assign_btn').on('click', function () {
                if ($('#select_list').val() == "") {
                    var checked_task = [];
                } else {
                    var checked_task = $('#select_list').val();
                }
                $.each($("input[name='checked_task']:checked"), function(){
                    checked_task.push($(this).val());
                });
                $('#select_list').val(checked_task);
                $('#assign_tasker').val($('#opt').val());
                $('#assign_form').submit();
            });
        });
        function show_assign_modal(id) {
            $('#assign_modal').modal();
            $('#select_list').val(id);
        }

        window.onbeforeunload = function (event) {
            if ($("#door").val() == 0) {
                return confirm("Confirm refresh");
            }
        };
    </script>
{% endblock %}