{% extends "pages/admin/base.html" %}
{% load i18n static %}

{% block content %}
    <table type="table" class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">{% trans "ID" %}</th>
            <th scope="col">{% trans "Timestamp" %}</th>
            <th scope="col">{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for log in logs %}
            <tr>
                <td>
                    {{ log.logger }}
                </td>
                <td>
                    {{ log.timestamp }}
                </td>
                <td>
                    {{ log.msg }}
                    <p style="color: grey; font-size: small">{{ log.extra }}</p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}