{% extends "pages/admin/base.html" %}

{% block content %}
<table type="table" class="table table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tiemstamp</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs%}
        <tr>
            <td>
                {{log.user.username}}({{log.user.certificate}})
            </td>
            <td>
                {{log.timestamp}}
            </td>
            <td>
                {{log.action}}&nbsp;{{log.task.id}} with response {{log.response}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}