{% extends "pages/user/base.html" %}
{% load i18n static %}

{% block content %}
    <style>
        mark {
            background-color: white;
            color: black;
        }

        mark:hover {
            background-color: #b3d7ff;
        }

        .highlight {
            background-color: #7abaff;
        }
    </style>
    {% include "pages/user/partial/progress_bar.html" with num_done=num_done num_doing=num_doing num_total=num_total %}

    {% if page_obj %}
        <br/>

        <div id="taskList">
            <table type="table" class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 5%">{% trans "ID" %}</th>
                    <th scope="col" style="width: 30%">{% trans "Question" %}</th>
                    <th scope="col" style="width: 40%">{% trans "Answer" %}</th>
                    <th scope="col" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody id="voting_tasks">
                <input id="door" type="hidden" value="1">
                {% for question in page_obj %}
                    <form action="{% url 'keywords' question.id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td id="qns_keywords_td">
                                <input class="keyword" name="qns_keywords" type="hidden">
                                <div class="text">{{ question.data_ptr.title }}</div>

                            <td id="ans_keywords_td">
                                <input class="keyword" name="ans_keywords" type="hidden">
                                <div class="text">{{ question.answer_text }}</div>
                            </td>
                            <td>
                                <input type="hidden">
                                <button id="vote_{{ question.id }}" value="0" type="submit"
                                        class="submit btn btn-outline-primary btn-sm btn-block">
                                    {% trans "Submit" %}
                                </button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
            {% include "pages/partial/page_footer.html" with page_obj=page_obj  num_done=num_done %}
        </div>

        <script type="application/javascript">
            $(document).ready(function () {
                $(".submit").on('click', function () {
                    $("#door").val(1);
                });
                $(".text").on('mouseup', function () {
                    var selectedText = getSelectionText();

                    if (selectedText === "") return;
                    var regText = selectedText;

                    var myReg = /[?^.[]$()*]/g;
                    var substring;
                    var substringSet = new Set();
                    while ((substring = myReg.exec(selectedText)) != null) {
                        substringSet.add(substring);
                    }
                    substringSet.forEach(function(s) {
                        regText = regText.replace(s, '\\' + s);
                    });

                    var exist = false;
                    $(this).find("mark").each(function () {
                        if ($(this).html().indexOf(selectedText) !== -1) {
                            exist = exist || true;
                        }
                    });
                    var text;
                    if (exist) {
                        text = $(this).html().replace(
                            new RegExp('<mark class="highlight">' + regText + "</mark>","g"), selectedText);
                    } else {
                        text = $(this).html().replace(
                            new RegExp(regText,"g"), "<mark class='highlight'>" + selectedText + "</mark>");
                    }
                    $(this).html(text);

                    updateKeyword($(this), selectedText);
                });
                window.onbeforeunload = function () {
                    if ($("#door").val() == 0) {
                        return confirm("Confirm refresh");
                    }
                };
                function getSelectionText() {
                    var el= document.createElement('span'), sel= window.getSelection().getRangeAt(0), prev= '', next= '';
                    el.className= 'selected';
                    sel.surroundContents(el);
                    if(!sel.toString().match(/^\W/)) {
                        prev= el.previousSibling.nodeValue;
                        if(prev.match(/\W$/)) {
                            prev= '';
                        } else {
                            prev= prev.split(/\W/).pop();
                        }
                    }
                    if(!sel.toString().match(/\W$/)) {
                        next= el.nextSibling.nodeValue;
                        if(next.match(/^\W/)) {
                            next= '';
                        } else {
                            next= next.split(/\W/).shift();
                        }
                    }
                    var res = prev+sel.toString()+next;
                    var selectedEle = $(".selected");
                    selectedEle.contents().unwrap();
                    selectedEle.remove();
                    document.body.normalize();
                    return res;
                }
                function updateKeyword(ele, keyword) {
                    $("#door").val(0);
                    var input_ele = ele.siblings('.keyword');
                    var old_val = input_ele.val();

                    var marker = ele.find("mark");
                    var exist = false;
                    marker.each(function () {
                        if ($(this).text() == keyword) {
                            exist = exist || true;
                        }
                    });
                    if (marker.hasClass("highlight") && exist) {
                        input_ele.val(old_val + keyword + ",");
                    } else {
                        input_ele.val(old_val.replace(keyword + ",", ""));
                    }
                }
            });
        </script>
    {% else %}
        <br/>
        <div class="alert alert-success" role="alert">
            {% trans "You have complete all keyword selection tasks." %}
        </div>
    {% endif %}
{% endblock %}