{% extends "pages/user/base.html" %}
{% load i18n static %}

{% block content %}
    <style>
        mark {
            background-color: white;
            color: black;
        }

        mark:hover {
            background-color: #b3d7ff;
        }

        .highlight {
            background-color: #7abaff;
        }
    </style>
    {% include "pages/user/partial/progress_bar.html" with num_done=num_done num_doing=num_doing num_total=num_total %}

    {% if page_obj %}
        <br/>

        <div id="taskList">
            <table type="table" class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 5%">{% trans "ID" %}</th>
                    <th scope="col" style="width: 30%">{% trans "Question" %}</th>
                    <th scope="col" style="width: 40%">{% trans "Answer" %}</th>
                    <th scope="col" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody id="voting_tasks">
                <input id="door" type="hidden" value="1">
                {% for question in page_obj %}
                    <form action="{% url 'keywords' question.id %}" method="post">
                        {% csrf_token %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td id="qns_keywords_td">
                                <input class="keyword" name="qns_keywords" type="hidden">
                                <div class="text">{{ question.data_ptr.title }}</div>

                            <td id="ans_keywords_td">
                                <input class="keyword" name="ans_keywords" type="hidden">
                                <div class="text">{{ question.answer_text }}</div>
                            </td>
                            <td>
                                <input type="hidden">
                                <button id="vote_{{ question.id }}" value="0" type="submit"
                                        class="submit btn btn-outline-primary btn-sm btn-block">
                                    {% trans "Submit" %}
                                </button>
                            </td>
                        </tr>
                    </form>
                {% endfor %}
                </tbody>
            </table>
            {% include "pages/partial/page_footer.html" with page_obj=page_obj  num_done=num_done %}
        </div>

        <script type="application/javascript">
            $(document).ready(function () {
                var isDown = false;
                $(".submit").on('click', function () {
                    $("#door").val(1);
                });
                $(".text").on('mouseup', function () {
                    var selectedText = getSelectionText($(this));

                    if (selectedText === "") return;
                    // Check if selected text is part of marked keywords
                    var left_marker = '<mark class="highlight">';
                    var right_marker = "</mark>";
                    var left_selector = '<span class="selected">';
                    var right_selector = '</span>';
                    if (selectedText.indexOf(left_marker) !== -1 || selectedText.indexOf(right_marker) !== -1) {
                        selectedText = selectedText.replace(new RegExp(right_marker+right_selector+left_marker, "g"), '')
                            .replace(new RegExp(right_marker+left_selector+left_marker, "g"), '')
                            .replace(new RegExp(left_selector, "g"), '')
                            .replace(new RegExp(right_selector, "g"), '');

                        var start = selectedText.indexOf(left_marker);
                        var end = selectedText.indexOf(right_marker) + right_marker.length;
                        var subSelectionWrapped = selectedText.substring(start, end);
                        var subSelection = subSelectionWrapped.replace(left_marker, '').replace(right_marker, '');
                        selectedText = selectedText.replace(subSelectionWrapped, subSelection);
                        subSelectionWrapped = getRegexText(subSelectionWrapped);
                        $(this).html($(this).html()
                            .replace(new RegExp(subSelectionWrapped, "g"), subSelection));
                        removeKeyword($(this), subSelection);
                    }

                    // Replace special characters in selected text
                    var regText = getRegexText(selectedText);
                    alert(regText);

                    // Check if selected text is selected
                    var is_selected = false;
                    $(this).find("mark").each(function () {
                        if ($(this).html().indexOf(selectedText) !== -1) {
                            is_selected = is_selected || true;
                        }
                    });

                    var text;
                    if (is_selected) {
                        text = $(this).html().replace(
                            new RegExp(left_marker + regText + right_marker,"g"), selectedText);
                        removeKeyword($(this), selectedText);
                    } else {
                        text = $(this).html().replace(
                            new RegExp(regText,"g"), left_marker + selectedText + right_marker);
                        addKeyword($(this), selectedText);
                    }
                    $(this).html(text);
                });
                window.onbeforeunload = function () {
                    if ($("#door").val() == 0) {
                        return confirm("Confirm refresh");
                    }
                };
                function getRegexText(text) {
                    var regText = text;
                    var myReg = /[?^.\[\]$()*]/g;
                    var substring;
                    var substringSet = new Set();
                    while ((substring = myReg.exec(text)) != null) {
                        substringSet.add(substring);
                    }
                    substringSet.forEach(function(s) {
                        regText = regText.replace(s, '\\' + s);
                    });
                    return regText;
                }
                function getSelectionText(parentEle) {
                    var old_html = parentEle.html();

                    var el= document.createElement('span'), sel= window.getSelection().getRangeAt(0), prev= '', next= '';
                    el.className= 'selected';

                    el.appendChild(sel.extractContents());
                    sel.insertNode(el);

                    if(!sel.toString().match(/^\W/)) {
                        prev= el.previousSibling.nodeValue;
                        if (prev == null) {

                        } else if(prev.match(/\W$/)) {
                            prev= '';
                        } else {
                            prev= prev.split(/\W/).pop();
                        }
                    }
                    if(!sel.toString().match(/\W$/)) {
                        next= el.nextSibling.nodeValue;
                        if (next == null) {

                        } else if(next.match(/^\W/)) {
                            next= '';
                        } else {
                            next= next.split(/\W/).shift();
                        }
                    }

                    //var res = prev+sel.toString()+next;
                    var parent_html = sel.startContainer.parentElement.innerHTML;
                    var left_selector = '<span class="selected">';
                    var right_selector = '</span>';
                    var left_marker = '<mark class="highlight">';
                    var right_marker = '</mark>';
                    var html = el.innerHTML;
                    if (next == null) {
                        var startIdx = parent_html.indexOf(left_selector);
                        var midIdx = parent_html.indexOf(right_selector);
                        var endIdx = parent_html.substr(midIdx).indexOf(right_marker);
                        html = parent_html.substring(startIdx, midIdx + endIdx + right_marker.length);
                        next = '';
                    }
                    if (prev == null) {
                        var endIdx = parent_html.indexOf(right_selector);
                        var midIdx = parent_html.indexOf(left_selector);
                        var startIdx = parent_html.substring(0, midIdx).lastIndexOf(left_marker);
                        html = parent_html.substring(startIdx, endIdx + right_selector.length);
                        prev = '';
                    }
                    var res = prev+html+next;
                    parentEle.html(old_html);

                    var selectedEle = $(".selected");
                    selectedEle.contents().unwrap();
                    selectedEle.remove();
                    document.body.normalize();

                    return res;
                }
                function removeKeyword(ele, keyword) {
                    $("#door").val(0);
                    var input_ele = ele.siblings('.keyword');
                    var old_val = input_ele.val();
                    input_ele.val(old_val.replace(keyword + ",", ""));
                }
                function addKeyword(ele, keyword) {
                    $("#door").val(0);
                    var input_ele = ele.siblings('.keyword');
                    var old_val = input_ele.val();
                    input_ele.val(old_val + keyword + ",");
                }
            });
        </script>
    {% else %}
        <br/>
        <div class="alert alert-success" role="alert">
            {% trans "You have complete all keyword selection tasks." %}
        </div>
    {% endif %}
{% endblock %}