{% extends "pages/user/base.html" %}
{% load i18n static %}

{% block content %}
    {% include "pages/user/partial/progress_bar.html" with num_done=num_done num_doing=num_doing num_total=num_total %}

    {% if page_obj %}
        <button id="collapse_all" class="btn btn-outline-primary float-right">{% trans "Expand/Collapse All" %}</button>

        <div id="taskList">
            <form id="validate_form" action="{% url 'validate' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="validate_ids" id="validate_ids">
                <table type="table" class="table table-hover" id="tasks_table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" width="5%">{% trans "ID" %}</th>
                        <th scope="col" width="30%">{% trans "Question" %}</th>
                        <th scope="col" width="30%">{% trans "Answer" %}</th>
                        <th scope="col" width="10%">
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {% trans "Status" %}
                                </a>
                                <div id="filter_validating" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" type="button">{% trans "Approved" %}</button>
                                    <button class="dropdown-item" type="button">{% trans "Disapproved" %}</button>
                                    <button class="dropdown-item" type="button">?</button>
                                </div>
                            </div>
                        </th>
                        <th scope="col" width="25%"></th>
                    </tr>
                    </thead>
                    <tbody id="validating_tasks">
                    {% for question in page_obj %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td>{{ question.data_ptr.title }}</td>
                            <td class="module container">
                                <p id="ans_{{ question.id }}" class="collapse"
                                   aria-expanded="false">{{ question.answer_text }}</p>
                                <a role="button" class="collapsed" data-toggle="collapse" href="#ans_{{ question.id }}"
                                   aria-expanded="false" aria-controls="ans_{{ question.id }}"></a>
                            </td>

                            <td id="type_{{ question.id }}"></td>
                            <td>
                                <input type="hidden" name="approve_value_{{ question.id }}"
                                       id="approve_value_{{ question.id }}" value="">
                                <param type="hidden" name="old_ans_{{ question.id }}" id="old_ans_{{ question.id }}"
                                       value="{{ question.answer_text }}">
                                <input type="hidden" name="new_ans_{{ question.id }}" id="new_ans_{{ question.id }}"
                                       value="">
                                <div class="btn-group btn-block">
                                    <button id="approve_{{ question.id }}" value="{{ question.id }}" type="button"
                                            name="choice_{{ question.id }}"
                                            class="approve btn btn-outline-success btn-sm">
                                        {% trans "Approve" %}
                                    </button>

                                    <button id="change_{{ question.id }}" value="{{ question.id }}" type="button"
                                            data-toggle="modal" data-target="#dialog"
                                            class="change btn btn-outline-primary btn-sm">
                                        {% trans "Change" %}
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "pages/partial/page_footer.html" with page_obj=page_obj  num_done=num_done %}
                <span class="d-flex">
                    <button class="btn btn-primary btn ml-auto" name="submit" type="submit">{% trans "Submit" %}</button>
                </span>
            </form>
        </div>
        {% include 'pages/partial/new_ans_modal.html' with modal_id="dialog" btn_id="update_btn" %}
        <script>
            $(document).ready(function () {
                $("#collapse_all").on("click", function () {
                    $('.module p.collapse').collapse('toggle');
                });
                $(".ans_collapse").on("click", function () {
                    $(this).toggleClass("overflow_hidden");
                });
                $("#filter_validating .dropdown-item").on("click", function () {
                    var selectedType = $(this).text();
                    $("#validating_tasks tr").map(function () {
                        var id = $(this).children("th").text();
                        $(this).toggle($("#type_" + id).text() == selectedType);
                    })
                });
                $(".approve").on('click', function () {
                    approve_onclick($(this));
                });
                $(".change").on('click', function () {
                    var id = $(this).attr('value');
                    $("#new_ans_" + id).attr('disabled', false);
                    $("#validate_ids").val(getNewIds(id));
                    $("#update_btn").val(id);
                    $("#new_ans").val("");
                    $('#dialog').modal();
                });
                $("#update_btn").on('click', function () {
                    update_onclick($(this));
                });
                $(".approve, #update_btn").on('click', function () {
                    $.ajax({
                        url: 'validate',
                        type: 'post',
                        dataType: 'json',
                        data: $('#validate_form').serialize(),
                        success: function () {
                            window.location.href = $(this).attr("href");
                        }
                    });
                });

                function getNewIds(id) {
                    var ids = $("#validate_ids").attr('value');
                    if (ids != "") {
                        ids = ids + "," + id;
                    } else {
                        ids = id;
                    }
                    return ids;
                }

                function approve(id, approved) {
                    var ans_element = $("#ans_" + id);
                    var type_element = $("#type_" + id);
                    if (approved) {
                        var old_ans = $("#old_ans_" + id).val();

                        ans_element.text(old_ans);
                        ans_element.css('color', 'green');
                        type_element.text("Approved");
                        type_element.css('color', 'green');
                    } else {
                        var new_ans = $("#new_ans").val();

                        $("#new_ans_" + id).val(new_ans);
                        ans_element.text(new_ans);
                        ans_element.css('color', 'red');
                        type_element.text("Disapproved");
                        type_element.css('color', 'red');
                    }
                }

                function approve_onclick(element) {
                    element.attr('disabled', true);
                    var id = element.attr('value');
                    $("#change_" + id).attr('disabled', false);
                    $("#approve_value_" + id).val(true);
                    $("#new_ans_" + id).attr('disabled', true);
                    $("#validate_ids").val(getNewIds(id));

                    approve(id, true);
                }

                function update_onclick(element) {
                    var id = element.attr('value');
                    approve(id, false);

                    $("#approve_" + id).attr('disabled', false);
                    $("#approve_value_" + id).val(false);
                }
                {% for question in page_obj %}
                    {% with val='approve_value_{}'|format:question.id %}
                        {% if request.session.data|get_item:val != "" %}
                            {% if request.session.data|get:val == "true" %}
                                approve_onclick($("#approve_{{question.id}}"));
                            {% else %}
                                $("#validate_ids").val(getNewIds({{ question.id }}));
                                $("#update_btn").val("{{question.id}}");

                                {% with new_ans_key='new_ans_{}'|format:question.id %}
                                    {% with new_ans=request.session.data|get:new_ans_key %}
                                        $("#new_ans").val("{{ new_ans }}");
                                    {% endwith %}
                                {% endwith %}

                                update_onclick($("#update_btn"));
                            {% endif %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            });
        </script>
    {% else %}
        <br/>
        <div class="alert alert-success" role="alert">
            {% trans "You have complete all validating tasks." %}
        </div>
    {% endif %}
{% endblock %}