<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load i18n static %}
    {% load staticfiles %}
    <script src="{% static 'jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/main.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'custom.css' %}" type="text/css"/>
    <title>{% block title %}Data Cleansing{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light topbar">
        {% include "pages/partial/header.html" with user_name=request.user %}
    </nav>

    {% if request.user.is_approved %}
    <div class="row flex-xl-nowrap">
        <div class="sidbar-div">
            <nav id="sidebar" class="nav navbar-light bg-light flex-column nav-fill sticky-top">
                {% block sidebar %}{% endblock %}
            </nav>
        </div>

        <div id="content">
            <div id="title">
                <br/>
                <h3>{% block page %}{{ title }}{% endblock %}</h3>
                <hr/>
            </div>

            <div>
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}

                {% for message in messages %}
                    <div class="alert alert-{{message.tags}} alert-dismissible in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        {{ message }}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% else %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
        <div class="row align-items-center justify-content-center" style="height:50%">
            <div class="card" style="width: 50%">
                <div class="card-header"></div>
                <div class="card-body text-center">
                    {% if request.user.is_approved == None  %}
                        Your account is still pending for admin's approval.
                    {% else %}
                        Sorry, your account is rejected to be activated.
                        <a href="/retry_sign_up">Try again.</a>
                    {% endif %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    {% endif %}
</body>
</html>

<script>
    $(document).ready(function(){
        let links = document.getElementById("sidebar").getElementsByTagName("a");
        let currentURL = document.location.href;

        for(var i=0;i<links.length;i++){
            var url=links[i].getAttribute("href");
            if(currentURL.indexOf(url) != -1) {
                removeClass(document.getElementById($(".index")[0].id), "active");
                addClass(links[i], "active");
            }
        }
    });

    function addClass(element, value ){
        if (!element.className){
            element.className = value;
        } else {
            var newClassName = element.className;
            newClassName+= " ";
            newClassName+= value ;
            element.className = newClassName;
        }
    }

    function removeClass(element, value ){
        if (element.className) {
            let newClassName = element.className.replace(new RegExp(value,"g"), "");
            element.className = newClassName;
        }
    }
</script>