<nav class="navbar nav-light bg-light navbar-left flex-column min-vh-100">
    <div>
    <div>
        <a class="nav-item" href="#">Dropdown header</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
            <a class="nav-link" href="/pages/tasks">Action</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Another action</a>
            </li>
        </ul>
    </div>
    <div>
        <a class="nav-item" href="news.asp">Profile</a>
    </div>
    </div>
</nav>
