{% if questions %}
    {% load staticfiles %}
    <script src="{% static 'jquery-3.4.1.min.js' %}" type="text/javascript"></script>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script-->
    
    <div id="taskList">
         <form action="{% url 'validate' %}" method="post">
             {% csrf_token %}
             <input type="hidden" name="validate_ids" id="validate_ids" value="">
             <table type="table" class="table table-hover" id="tasks_table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Question</th>
                        <th scope="col">Answer</th>
                        <th scope="col">
                            <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status
                            </a>
                            <div id="filter_validating" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" type="button">Approved</button>
                                <button class="dropdown-item" type="button">Disapproved</button>
                                <button class="dropdown-item" type="button">?</button>
                            </div>
                            </div>
                        </th>
                        <th scope="col" width="30%"> </th>
                    </tr>
                </thead>
                <tbody id="validating_tasks">
                    {% for question in questions %}
                    <tr>
                        <th scope="row">{{question.id}}</th>
                        <td>{{question.question_text}}</td>
                        <td id="ans_{{question.id}}">{{question.answer_text}}</td>
                        <td id="type_{{question.id}}">?</td>
                        <td>
                            <input type="hidden" name="approve_value_{{question.id}}" id="approve_value_{{question.id}}" value="">
                            <input type="hidden" name="new_ans_{{question.id}}" id="new_ans_{{question.id}}" value="">
                            <div class="btn-group btn-block">
                                <button id="approve_{{question.id}}" value="{{question.id}}" type="button" name="choice_{{question.id}}" class="approve btn btn-outline-success btn-sm">
                                Approve
                            </button>
                            <button id="change_{{question.id}}" value="{{question.id}}" type="button" name="choice_{{question.id}}" class="change btn btn-outline-primary btn-sm">
                                Change
                            </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <span class="d-flex"><input class="btn btn-primary btn ml-auto" type="submit" value="Submit"></span>
        </form>
    </div>
    <div id="dialog" style="display: none">
        <textarea id="new_ans" rows="3" cols="20"></textarea>
        <button id="update_btn">Confirm</button>
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<script>
    $(document).ready(function(){
        $("#filter_validating .dropdown-item").on("click", function(e) {
            var selectedType = $(this).text();
            $("#validating_tasks tr").filter(function() {
                $(this).toggle($("#type").text() == selectedType);
            })
        });
        $(".approve").on('click', function(e) {
            $(this).attr('disabled', true);
            var id = $(this).attr('value');
            $("#change_" + id).attr('disabled', false);
            $("#approve_value_" + id).val(true);
            $("#validate_ids").val(getNewIds(id));

            approve(id, true);
        });
        $(".change").on('click', function(e) {
            var id = $(this).attr('value');
            $("#validate_ids").val(getNewIds(id));
            $("#update_btn").val(id);

            var x = document.getElementById('dialog');
            x.setAttribute('style', "display: block");
        });
        $("#update_btn").on('click', function(e) {
            var id = $("#update_btn").attr('value');
            approve(id, false);

            $("#approve_" + id).attr('disabled', false);
            $("#approve_value_" + id).val(false);
            var x = document.getElementById('dialog');
            x.setAttribute('style', "display: none");
        });
        function getNewIds(id) {
            var ids = $("#validate_ids").attr('value');
            if(ids!="") {
                ids = ids + "," + id;
            } else {
                ids = id;
            }
            return ids;
        };
        function approve(id, approved) {
            // update status
            var row = $("#type_" + id).parent().index() + 1;
            var col = $("#type_" + id).index();
            var x = document.getElementById('tasks_table').rows[row].cells

            if (approved) {
                x[col].innerHTML = "Approved";
            } else {
                var new_ans = $("#new_ans").val();
                $("#new_ans_" + id).val(new_ans);
                x[col-1].innerHTML = new_ans;
                x[col-1].setAttribute('style', 'color:red');
            }
        };
    });
</script>