<div id="taskList">
     <form action="{% url 'validate' %}" method="post">
         {% csrf_token %}
         <input type="hidden" name="validate_ids" id="validate_ids" value="">
         <table type="table" class="table table-hover" id="tasks_table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Question</th>
                    <th scope="col">Answer</th>
                    <th scope="col">
                        <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                        </a>
                        <div id="filter_validating" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <button class="dropdown-item" type="button">Approved</button>
                            <button class="dropdown-item" type="button">Disapproved</button>
                            <button class="dropdown-item" type="button">?</button>
                        </div>
                        </div>
                    </th>
                    <th scope="col" width="30%"> </th>
                </tr>
            </thead>
            <tbody id="validating_tasks">
                {% for question in questions %}
                <tr>
                    <th scope="row">{{question.question_id}}</th>
                    <td>{{question.question.question_text}}</td>
                    <td id="ans_{{question.question_id}}">{{question.answer_text}}</td>
                    <td id="type_{{question.question_id}}">?</td>
                    <td>
                        <input type="hidden" name="approve_value_{{question.question_id}}" id="approve_value_{{question.question_id}}" value="">
                        <input type="hidden" name="old_ans_{{question.question_id}}" id="old_ans_{{question.question_id}}" value="{{question.answer_text}}">
                        <input type="hidden" name="new_ans_{{question.question_id}}" id="new_ans_{{question.question_id}}" value="">
                        <div class="btn-group btn-block">
                            <button id="approve_{{question.question_id}}" value="{{question.question_id}}" type="button" name="choice_{{question.question_id}}" class="approve btn btn-outline-success btn-sm">
                            Approve
                        </button>

                        <button id="change_{{question.question_id}}" value="{{question.question_id}}" type="button" data-toggle="modal" data-target="#dialog" class="change btn btn-outline-primary btn-sm">
                            Change
                        </button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <span class="d-flex"><input class="btn btn-primary btn ml-auto" type="submit" value="Submit"></span>
    </form>
</div>
{% include 'pages/partial/new_ans_modal.html' with modal_id="dialog"%}

<script>
    $(document).ready(function(){
        $("#filter_validating .dropdown-item").on("click", function(e) {
            var selectedType = $(this).text();
            $("#validating_tasks tr").map(function() {
                var id = $(this).children("th").text();
                $(this).toggle($("#type_" + id).text() == selectedType);
            })
        });
        $(".approve").on('click', function(e) {
            $(this).attr('disabled', true);
            var id = $(this).attr('value');
            $("#change_" + id).attr('disabled', false);
            $("#approve_value_" + id).val(true);
            $("#validate_ids").val(getNewIds(id));

            approve(id, true);
        });
        $(".change").on('click', function(e) {
            var id = $(this).attr('value');
            $("#validate_ids").val(getNewIds(id));
            $("#update_btn").val(id);
            $("#new_ans").val("");
            $('#dialog').modal();
        });
        $("#update_btn").on('click', function(e) {
            var id = $("#update_btn").attr('value');
            approve(id, false);

            $("#approve_" + id).attr('disabled', false);
            $("#approve_value_" + id).val(false);
            var x = document.getElementById('dialog');
            x.setAttribute('style', "display: none");
        });
        function getNewIds(id) {
            var ids = $("#validate_ids").attr('value');
            if(ids!="") {
                ids = ids + "," + id;
            } else {
                ids = id;
            }
            return ids;
        };
        function approve(id, approved) {
            // update status
            var row = $("#type_" + id).parent().index() + 1;
            var col = $("#type_" + id).index();
            var x = document.getElementById('tasks_table').rows[row].cells

            if (approved) {
                x[col].innerHTML = "Approved";
                var old_ans = $("#old_ans_" + id).val();
                x[col-1].innerHTML = old_ans;
                x[col-1].setAttribute('style', 'color:green');
                x[col].setAttribute('style', 'color:green');
            } else {
                x[col].innerHTML = "Disapproved";
                var new_ans = $("#new_ans").val();
                $("#new_ans_" + id).val(new_ans);
                x[col-1].innerHTML = new_ans;
                x[col-1].setAttribute('style', 'color:red');
                x[col].setAttribute('style', 'color:red');
            }
        };
    });
</script>