{%load static%}
<script src="{% static 'jquery-3.4.1.min.js' %}" type="text/javascript"></script>

<div id="taskList">
    <table type="table" class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="5%">ID</th>
                <th scope="col" width="30%">Question</th>
                <th scope="col" width="30%">Answer</th>
                <th scope="col" width="30%"> </th>
            </tr>
        </thead>
        <tbody id="voting_tasks">
            {% for question in questions %}
            <form action="{% url 'vote' question.taskdata_ptr_id %}" method="post">
            {% csrf_token %}
            <tr>
                <th scope="row">{{question.taskdata_ptr_id}}</th>
                <input type="hidden" name="choice" id="choice" value="0">
                <td>{{question.data_ptr.title}}</td>
                <td>
                    {% for ans in question.answers %}
                    <div class="custom-control custom-radio" value="{{question.taskdata_ptr_id}}">
                        <input type="radio" id="answer_{{ans.id}}" class="custom-control-input" name="ansRadio" value="{{ans.id}}">
                        <label class="custom-control-label" for="answer_{{ans.id}}">{{ans.answer}}</label>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    <button id="vote_{{question.taskdata_ptr_id}}" value="0" type="submit" class="vote btn btn-outline-primary btn-sm btn-block">
                        Vote
                    </button>
                </td>
            </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
    $(".custom-radio .custom-control-input").on("click", function(e) {
        var id = $(this).parent().attr('value');
        var ans_id = $(this).attr('value');
        $("#vote_" + id).val(ans_id);
        var idVal = $(this).attr("id");
        $(".custom-radio label").css('color','black');
        var label = $("label[for='"+idVal+"']");
        label.css('color','green');
    });
    $(".vote").on('click', function(e) {
        var choice = $(this).attr('value');
        $("#choice").val(choice);
    });
});
</script>